@import "src/app/stylesheets/helpers/_variables.scss";
@import "src/app/stylesheets/helpers/_mixins.scss";

.content {
  @include display-flex(column, center, flex-start, wrap);
  width: 100%;
  margin-top: 70px;

  app-header {
    width: inherit
  }


  .cards {
    @include display-flex(row, space-evenly, flex-start, wrap);

  }
}
