<app-header [withHomeButton]="true" *ngIf="withTitle"></app-header>
<div class="content" [class.no-margin]="!withTitle">
  <span class="title" *ngIf="withTitle"> Add product </span>
  <div *ngIf="!withTitle && validForm" class="error-messages">
    <div *ngIf="measurementControl && measurementControl.errors?.['required']">
      Please select a measurement unit.
    </div>
    <!-- Add more error messages for other form controls if needed -->
  </div>
  <form (ngSubmit)="onSubmit()" #form="ngForm" [formGroup]="formGroup">
    <div class="section-columns">
      <div class="section">
        <div class="section-name" [class.error]="checkControlIsInvalid('name')">
          <span class="label"
            >Product name <span class="required">*</span></span
          >

          <input
            matInput
            type="text"
            formControlName="name"
            name="name"
            placeholder="Product name"
          />
          <div class="error-message" *ngIf="checkControlIsInvalid('name')">
            Product name is required.
          </div>
        </div>
      </div>

      <div class="section">
        <div class="section-date" [class.error]="checkControlIsInvalid('date')">
          <span class="label"
            >Expiration date <span class="required">*</span></span
          >
          <input
            matInput
            type="date"
            formControlName="date"
            name="date"
            placeholder="placeHolder"
          />
          <div class="error-message" *ngIf="checkControlIsInvalid('date')">
            Date is required.
          </div>
        </div>
      </div>
    </div>
    <div class="section-columns">
      <div class="section">
        <div
          class="section-quantity"
          [class.error]="checkControlIsInvalid('quantity')"
        >
          <span class="label">Quantity <span class="required">*</span></span>
          <input
            matInput
            type="number"
            formControlName="quantity"
            name="quantity"
            placeholder="Quantity"
          />
          <div class="error-message" *ngIf="checkControlIsInvalid('quantity')">
            Quantity is required.
          </div>
        </div>
      </div>
      <div class="section">
        <div
          class="section-measurement"
          [class.error]="checkControlIsInvalid('measurement')"
        >
          <span class="label">
            Measurement unit <span class="required">*</span></span
          >
          <select name="measurement" formControlName="measurement">
            <option *ngFor="let unit of measurementUnits" [value]="unit.short">
              {{unit.name}}
            </option>
          </select>
          <div
            class="error-message"
            *ngIf="checkControlIsInvalid('measurement')"
          >
            Measurement unit is required.
          </div>
        </div>
      </div>
    </div>
    <div class="section-columns">
      <div class="section">
        <div
          class="section-storage"
          [class.error]="checkControlIsInvalid('storage')"
        >
          <span class="label"> Storage <span class="required">*</span></span>
          <select name="storage" formControlName="storage">
            <option *ngFor="let option of storageOptions" [value]="option">
              {{ option }}
            </option>
          </select>
          <div class="error-message" *ngIf="checkControlIsInvalid('storage')">
            Storage is required.
          </div>
        </div>
      </div>
      <div class="section">
        <div
          class="section-category"
          [class.error]="checkControlIsInvalid('category')"
        >
          <span class="label"> Category<span class="required">*</span> </span>
          <select name="category" formControlName="category">
            <option *ngFor="let option of categories" [value]="option">
              {{ option }}
            </option>
          </select>
          <div class="error-message" *ngIf="checkControlIsInvalid('category')">
            Category is required.
          </div>
        </div>
      </div>
    </div>
    <div class="nutritional">
      <span class="label">
        Nutritional values
        <span class="hint">
          These are optional details you do not need to complete
        </span>
      </span>
      <div class="section-nutritional">
        <div class="calories">
          <input type="number" name="calories" formControlName="calories" />
          <span class="small-label"> calories </span>
        </div>
        <div class="carbs">
          <input type="number" name="carbs" formControlName="carbs" />
          <span class="small-label"> carbs </span>
        </div>
        <div class="proteins">
          <input type="number" name="proteins" formControlName="proteins" />
          <span class="small-label"> proteins </span>
        </div>
        <div class="fats">
          <input type="number" name="fats" formControlName="fats" />
          <span class="small-label"> fats </span>
        </div>
      </div>
    </div>
    <div class="actions">
      <button type="submit">Add product</button>
    </div>
  </form>
</div>
