<div class="content">
  <div class="title">Add product</div>
  <div class="info" *ngIf="hasMissingAttributes">
    <div class="info-title">
      <img src="assets/icons/warning.svg" alt="warning" />
      <span *ngIf="!messageText">
        Missing information. Please complete the mandatory fields, marked with
        <span class="required">*</span>.
      </span>
      <div>{{ messageText }}</div>
    </div>
  </div>
  <app-product-form
    [productFromScan]="productToAdd"
    [withTitle]="false"
  ></app-product-form>
</div>
