<div mat-dialog-title>
  <span class="dialog-title"> {{ title }}</span>
</div>
<mat-dialog-content>
  <span class="text">
    You've successfully shared
    <span class="name" [style.color]="color"> {{ productName }} </span> with
    your friends!</span
  >

  <div class="hint" [style.color]="color">
    <div class="bullet" [style.background-color]="color"></div>
    {{ hintText }}
  </div>
</mat-dialog-content>
<div mat-dialog-actions>
  <button class="button-cancel" mat-dialog-close="Completed">Close</button>
</div>
