<app-header [withHomeButton]="true"></app-header>
<div class="content">
  <div class="title">Pantry</div>
  <app-pantry-menu
    [user]="user"
    [products]="products"
    [fridgeProducts]="fridgeProducts"
    [freezerProducts]="freezerProducts"
    [dryProducts]="dryProducts"
    (onMenuChange)="handleMenuChange($event)"
  ></app-pantry-menu>
  <div class="search-area" [style]="">
    <div class="search">
      <img src="assets/icons/search.svg" alt="search" class="img-search" />
      <input
        type="text"
        placeholder="Search products"
        [(ngModel)]="searchValue"
        (input)="filterArray(selectedMenuItem)"
      />
    </div>
    <img
      src="assets/icons/filters.svg"
      alt="filters"
      [class.selected-filter]="selectedFilter === filters[0]"
      (click)="handleFilterSelection(filters[0])"
    />
    <img
      [src]=" selectedFilter === filters[1] ? 'assets/icons/sort-flipped.svg' : 'assets/icons/sort.svg'"
      alt="sort"
      [class.selected-filter]="selectedFilter === filters[1]"
      (click)="handleFilterSelection(filters[1])"
    />
  </div>
  <div class="filters-area" [hidden]="selectedFilter !== filters[0]">
    filters area
  </div>
  <ng-container *ngIf="products.length else noDataContainer">
    <div class="products-container">
      <div class="product" *ngFor="let product of products">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
    <div class="actions">
      <button class="add-btn" (click)="openDialog()">Add products</button>
    </div>
  </ng-container>
  <ng-template #noDataContainer>
    <div class="no-data">
      <img
        class="no-data__image"
        src="assets/icons/no-data.svg"
        alt="no-data"
      />
      <span class="no-data__text" *ngIf="searchValue">
        No product found matching {{ searchValue }}.
      </span>
      <span class="no-data__text" *ngIf="!searchValue">
        You have not added any products yet.
      </span>

      <div class="actions">
        <button class="add-btn" (click)="openDialog()">Add products</button>
      </div>
    </div>
    <div class="no-data"></div>
  </ng-template>
</div>
