<!-- <div class="content">
  <app-header></app-header>
  <div class="title">Recipes</div>
  <div class="perfect-match">
    <div class="subtitle">Perfect match</div>
  </div>
  <div class="favorites">
    <div class="subtitle">Favorites</div>
    <div class="cards">
      <app-recipe-card></app-recipe-card>
      <app-recipe-card></app-recipe-card>
    </div>
  </div>
</div> -->

<app-header [withHomeButton]="true"></app-header>
<div class="content">
  <app-header></app-header>
  <div class="title">Recipes</div>
  <div class="perfect-match">
    <div class="subtitle">Perfect match</div>
  </div>
  <div class="favorites">
    <div class="subtitle">Favorites</div>
    <div class="cards"></div>
  </div>
</div>
