<app-header [withHomeButton]="true"></app-header>
<ng-container *ngIf="isEnabled; else scanComplete">
  <div class="content">
    <div class="title">Scan product barcode</div>
    <div class="value" *ngIf="value">
      <span>{{value}}</span>
    </div>
    <div class="error" *ngIf="isError">
      Scanner is not available as there is no device found to scan with.
    </div>
    <zxing-scanner
      [class.hidden]="!isEnabled"
      [enable]="isEnabled"
      [formats]="allowedFormats"
      (scanError)="onError($event)"
      (scanSuccess)="onSuccess($event)"
    ></zxing-scanner>
  </div>
</ng-container>
<ng-template #scanComplete>
  <app-complete-scan [scannedProduct]="scannedProduct"> </app-complete-scan>
</ng-template>
