<app-header [withHomeButton]="true"></app-header>
<div class="content">
  <div class="title">Friends' products</div>
  <app-pantry-menu
    [user]="user"
    [products]="products"
    [fridgeProducts]="fridgeProducts"
    [freezerProducts]="freezerProducts"
    [dryProducts]="dryProducts"
    (onMenuChange)="handleMenuChange($event)"
  ></app-pantry-menu>
  <div class="search-area" [style]="">
    <div class="search">
      <img src="assets/icons/search.svg" alt="search" class="img-search" />
      <input
        type="text"
        placeholder="Search products"
        [(ngModel)]="searchValue"
        (input)="filterArray(selectedMenuItem)"
      />
    </div>
    <img
      src="assets/icons/filters.svg"
      alt="filters"
      [class.selected-filter]="selectedFilter === filters[0]"
      (click)="handleFilterSelection(filters[0])"
    />
    <img
      src="assets/icons/sort.svg"
      alt="sort"
      [class.selected-filter]="selectedFilter === filters[1]"
      (click)="handleFilterSelection(filters[1])"
    />
  </div>

  <app-filter [hidden]="selectedFilter !== filters[0]"></app-filter>

  <ng-container *ngIf="products.length; else noDataTemplate">
    <div class="products-container">
      <div class="product" *ngFor="let product of products">
        <app-friends-product-card
          [product]="product"
        ></app-friends-product-card>
      </div>
    </div>
  </ng-container>
  <ng-template #noDataTemplate>
    <div class="no-data">
      <img
        class="no-data__image"
        src="assets/icons/no-data.svg"
        alt="no-data"
      />
      <span class="no-data__text">
        {{ noDataText }}
        <span class="no-data__text-add" *ngIf="!user.friends.length">
          You can add some friends by clicking the button below!
        </span>
      </span>

      <div class="actions" *ngIf="!searchValue">
        <button class="add-btn" (click)="onAddClicked()">Add friends</button>
      </div>
    </div>
  </ng-template>

  <div class="actions" *ngIf="products.length">
    <button class="add-btn" (click)="onAddClicked()">Add more friends</button>
  </div>
</div>
