<div class="content" *ngIf="user" [class.with-margin]="!canEdit">
  <app-header [withHomeButton]="true" [withUserPhoto]="!canEdit"></app-header>
  <div class="header">
    <div class="user">
      <img
        class="user-image"
        [src]="user.picture"
        alt="user-image"
        referrerpolicy="no-referrer"
      />
      <div class="details">
        <div class="name">
          <span> {{ user.firstName }}</span>
          <span> {{ user.lastName }}</span>
        </div>
        <div class="contact">
          <span> {{ user.email }}</span>
          <span *ngIf="user.phoneNumber"> {{ user.phoneNumber }} </span>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button
      class="send"
      [disabled]="disableBtn"
      *ngIf="!canEdit"
      (click)="handleSendClick()"
    >
      {{ areFriends() ? 'Friends' : '' }}
      {{ areNotFriends() ? 'Send friend request' : '' }}
      {{ isFriendRequestSent() ? 'Friend request sent' : '' }}
    </button>
    <button class="update" *ngIf="canEdit" (click)="toggleUpdateArea()">
      {{ isUpdateAreaVisible ? 'Close update form' : 'Update profile details'}}
    </button>
    <button class="share" [disabled]="shareClicked" (click)="copyProfileLink()">
      {{ shareClicked ? 'Link copied!' : 'Share profile' }}
    </button>
  </div>
  <div class="products-details">
    <div class="pill-added">
      <span class="text"> Added products </span>
      <span class="number">
        {{ allProductsCount }}
      </span>
    </div>
    <div class="pill-shared">
      <span class="text"> Shared products </span>
      <span class="number"> {{ sharedProductsCount }} </span>
    </div>
  </div>
  <div class="subtitle">Friends</div>
  <div class="friends-list">friend friend friend</div>
  <div class="subtitle" *ngIf="isUpdateAreaVisible">
    Update your profile info
  </div>
  <div class="form" *ngIf="isUpdateAreaVisible">
    <div class="name">
      <div class="label">First name</div>
      <input type="text" [value]="user.firstName" [disabled]="!canEdit" />
    </div>
    <div class="name">
      <div class="label">Last name</div>
      <input type="text" [value]="user.lastName" [disabled]="!canEdit" />
    </div>
    <div class="email">
      <div class="label">Email</div>
      <input type="text" [value]="user.email" [disabled]="!canEdit" />
    </div>
    <div class="phone" *ngIf="canEdit || user.phoneNumber">
      <div class="label">Phone number</div>
      <input
        type="text"
        [value]="user.phoneNumber"
        placeholder="Phone number"
        [disabled]="!canEdit"
      />
      <div class="hint">The phone number you want to be contacted on.</div>
    </div>
    <div class="update-button" (click)="updateDetails()">Update details</div>
  </div>
</div>
