<div class="container">
  <div class="login-form-container">
    <div class="title">Login</div>
    <div class="email-input">
      <span class="label">Email</span>
      <input
        matInput
        type="email"
        placeholder="Please enter your email address"
      />
    </div>
    <div class="password-input">
      <span class="label">Password</span>
      <input
        matInput
        type="password"
        placeholder="Please enter your password"
      />
    </div>
    <div class="buttons">
      <button type="submit" class="login-btn">Log in</button>
      <span>OR</span>
      <div class="content">
        <div id="google"></div>
      </div>
    </div>
  </div>
</div>
