$blues-100: #5DB2EF;
$blues-80: #84C7F8;
$blues-60: #A5D4F6;

$oranges-100: #FCB938;
$oranges-80: #FCC65F;
$oranges-60: #FCD790;

$onyx-100: #0E0E2C;
$onyx-80: #272742;

$fuchsia-100: #EF5DA8;
$fuchsia-80: #F178B6;
$fuchsia-60: #FCDDEC;
$light-fuchsia-background:#F3D9DA;

$iris-100:#5D5FEF;
$iris-80:#7879F1;
$iris-60:#A5A6F6;

$evergreen-100: #46D5B3;
$evergreen-80:#64DCBF;
$evergreen-60:#98E8D4;

$cloud: #fbfdfe;
$dorian: #ecf1f4;
$app-background: #F6F6F6;

$light-slate-100: #8C8CA1;
$light-slate-80: #A5A5BA;
$light-slate-60: #BABAC9;

$white: #ffffff;

$primary-font: 'Work Sans', sans-serif;



