<div class="menu" *ngIf="user">
  <div
    *ngFor="let option of storageOptions; let i = index"
    class="option"
    [class.selected]="option === selectedOption"
    (click)="handleOptionClick(option)"
  >
    <span>
      {{ option }}
    </span>
    <div class="total-items">
      <span *ngIf="option === storageOptions[0]">
        {{ fridgeProducts.length + freezerProducts.length + dryProducts.length}}
      </span>
      <span *ngIf="option === storageOptions[1]">
        {{ fridgeProducts.length }}
      </span>
      <span *ngIf="option === storageOptions[2]">
        {{ freezerProducts.length }}
      </span>
      <span *ngIf="option === storageOptions[3]">
        {{ dryProducts.length }}
      </span>
    </div>
  </div>
</div>
