@import "src/app/stylesheets/helpers/_variables.scss";
@import "src/app/stylesheets/helpers/_mixins.scss";

.content {
  width: 100%;
  margin-top: 70px;
  font-family: $primary-font;

  app-header,
  app-footer {
    width: 100%;
  }

  app-footer {
    align-self: flex-end;
  }

  .container {
    display: flex;
    gap: 10px;
    width: calc(100vw - 28px);
    overflow-x: auto;
  }

  .title {
    margin-bottom: 21px;
    font-family: $primary-font;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: $onyx-100;
  }
}

.search-area {
  @include display-flex(row, space-evenly, center, nowrap);
  margin-top: 20px;

  .search {
    @include display-flex(row, center, center, nowrap);

    background-color: $cloud;
    padding-left: 16px;
    border-radius: 10px;

    input {
      height: 40px;
      font-family: $primary-font;
      outline: none;
      border: none;
      border-radius: 10px;
      padding: 0 16px;
      width: inherit;
      min-width: 200px;
      font-size: 15px;

      &::placeholder {
        font-size: 12px;
      }
    }
  }
}

.selected-filter {
  background-color: $iris-60;
  padding: 6px;
  border-radius: 5px;
}

.results {
  @include display-flex(column);
  gap: 10px;
  margin-top: 20px;
  padding: 0 20px 0 20px;

  .result {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .name {
        font-weight: 600;
      }
    }

    img {
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
    }

    p {
      margin: 0;
    }
  }
}