<app-header [withHomeButton]="true"></app-header>
<div class="content">
    <div class="title">Add friends</div>

    <div class="container">
        <app-suggestion *ngFor="let suggestion of suggestions;" [user]="suggestion" (click)="onResultClick(suggestion.id)"></app-suggestion>
    </div>

    <div class="search-area" [style]="">
        <div class="search">
          <img src="assets/icons/search.svg" alt="search" class="img-search" />
          <input type="email" placeholder="Search people by email" (focus)="onInputFocused()" (input)="onInput($event)"/>
        </div>
      </div>

    <div class="results" *ngIf="!isSearchResultsEmpty()">
      <div class="result" *ngFor="let user of searchResult;" (click)="onResultClick(user.id)">
        <img [src]="user.picture">
        <div class="info">
          <p class="name">{{ user.firstName }} {{ user.lastName }}</p>
          <p class="email" *ngIf="user.email.visible"> {{ user.email.value }} </p>
        </div>
      </div>
    </div>
</div>